{#{% extends '/skeleton.html.twig' %}

{% block title %}{{ 'title.faq'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'faq.header'|trans }}</h1>

    <ul id="faq">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
{% endblock %}#}