{% extends '/skeleton.html.twig' %}

{% trans_default_domain 'application' %}

{% block title %}{{ documentation.Name }} -| Diablo 2 Documentation{% endblock %}

{% block content %}
    <div id="documentation" class="main-box">
        <h1>{{ documentation.Name }}</h1>
    </div>
{% endblock %}