<div>
    <h2>Welcome {{ name }}!</h2>
    <br>
    <p>User account was successfully created in Diablo 2 Documentation website with this related address e-mail.</p>
    <p>To use this account you have to click the link below to activate this account.</p>
    <p>If you didn't create this user account just ignore this message.</p>
    <br>                  
    <p>Click on this link to activate account '{{ login }}'.</p>
    <a href="{{ link }}">{{ link }}</a>
    <br>
    <p>This message was generated automatically. Do not reply to it.</p>
</div>