<div>
    <h2>Witaj {{ name }}!</h2>
    <br>
    <p>Pomyślnie utworzono konto użytkownika na stronie Diablo 2 Documentation z tym powiązanym adresem e-mail.</p>
    <p>Aby korzystać z tego konta neleży kliknąć w poniższy link w celu aktywacji konta.</p>
    <p>Ignoruj tą wiadomość, jeżeli to nie Ty utworzyłeś(aś) to konto.</p>
    <br>                  
    <p>Kliknij w ten link, aby aktywować konto '{{ login }}'.</p>
    <a href="{{ link }}">{{ link }}</a>
    <br>
    <p>Wiadomość została utworzona automatycznie. Nie odpowiadaj na nią.</p>
</div>